/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.form{
  background-color: rgb(174, 240, 69);
  padding: 5%;
}
.bar{
  background-color: rgb(244, 173, 247);
}
@media (min-width: 570px) and (max-width:1050px) {
  .text, .button2{
    width : 75%;
  }
 }
 @media (min-width: 760px) and (max-width:900px) {
  .bn{
    font-size: x-small;
  }
  .tm{
    font-size: xx-small;
  }
 }


 .cardcss{
   background-color: rgb(128, 238, 238);
 }
.input-container{
  
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

i {
  position: absolute;
  top: 20%;
  right: 3%;
}

.button1{
  background-color:blue;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
 }

.button2{
 background-color: red;
 color: white;
 border-radius: 5px; 
}

.image{
  height: 50px;
  border-radius: 25%;
  }

.crd{
  margin: 10%;
  }
  .body{
    margin-top: 10%;
    height: 100px;
  }
.title{
  background-color: chartreuse;
  padding: 2%;
}

.effect{
  color: red;
}

.noti{
  color: red;
}