/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 600px) and (max-width:1050px) {
  .text, .button2{
    width : 75%;
  }
  /* .login_Container {
    margin-top: 30%;
  }
  .register_form {
    margin-top: 20%;
    height: 450px;
  }
  .register_title {
    font-size: 25px;
  }
  .dashboard_nav_btn ,.fb_nav_btn {
    width: 150px;
    margin-bottom: 10px;
  } */
}
.input-container{
  
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

i {
  position: absolute;
  top: 20%;
  right: 3%;
}

.button1{
  background-color:blue;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
 }

.button2{
 background-color: red;
 color: white;
 border-radius: 5px; 
}

.image{
  height: 50px;
  border-radius: 25%;
  }

.crd{
  margin: 10%;
  }
  .body{
    margin-top: 10%;
    height: 100px;
  }
.title{
  background-color: chartreuse;
  padding: 2%;
}

.effect{
  color: red;
}

.noti{
  color: red;
}