/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-container{
  
  display: flex;
  align-items: center;
  width: 100%;
  
  /* border :1px solid rgb(201, 199, 199);
  border-radius: 5px;
   */
}

/* i{
  margin: 0px, 10px;
} */

.button1{
  background-color:blue;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
 }

.button2{
 background-color: red;
 color: white;
 border-radius: 5px; 
}

.image{
  height: 50px;
  border-radius: 25%;
  }

.crd{
  margin: 10%;
  }
  .body{
    margin-top: 10%;
    height: 100px;
  }
.title{
  background-color: chartreuse;
  padding: 2%;
}

.effect{
  color: red;
}

.noti{
  color: red;
}